.Project__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /*  height: calc(100px + 500 * ((100vw - 320px) / 680));
    width: calc(200px + 500 * ((100vw - 320px) / 680)); */
    height: 55vh;
    width: 100%;
    margin: 10% 0;
}

.Project__name {
    position: relative;
    opacity: 1;
    font-family: 'Selznick Normal NF', 'Poiret One', sans-serif;
    font-weight: 500;
    letter-spacing: .43em;
    font-size: calc(50px + 15 * ((100vw - 320px) / 680));
    color:  white;
    margin: 0;
    height: calc(75px + 100 * ((100vw - 320px) / 680));
    width: 100%;
    opacity: 1;
}

.Project__display-more {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.no-display {
    display: none;
}

.Project__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.on-aux::before {
    content: "";
    background: no-repeat center url('../img/under_construction.png');
    background-size: contain;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
}

.minder::before {
    content: "";
    background: no-repeat center url('../img/minder-home-page-desktop.png');
    background-size: 150%;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.35;
}

.noteful::before {
    content: "";
    background: no-repeat center url('../img/main-display-all-notes.png');
    background-size: 150%;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.35;
}

.container-display::before {
    background: none;
}



@media all and (min-width: 600px) {
    .Project__name {
        margin-left: 5%;
    }
    .Project__buttons {
        flex-direction: row;
        margin-right: 15%;
    }
}

