.Project__container {
    background-color: #4e4b4b;
    padding: 10px;
    margin-bottom: 15px; 
}

.Project__name {
    font-family: 'Selznick Normal NF', 'Poiret One', sans-serif;
    font-weight: 400;
    letter-spacing: .33em;
    font-size: 48px;
    color: white;
}