.About__container {
    color: #e9d6ab;
    margin-top: 0;
    /** Overlapping Divs **/ 
    /* 
    position: relative; 
    */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.About__skills {
    /** Overlapping Divs **/ 
    /* 
    position: absolute;
    width: calc(180px + 300 * ((100vw - 320px) / 680));
    height: calc(180px + 500 * ((100vw - 320px) / 680));
    z-index: 100;
    */
    flex: 1;
    background-color: #4e4b4b;
    font-size: 18px;
    text-align: center;
    margin:0;
    padding-top: 20px;
}

.About__desc {
   /** Overlapping Divs **/ 
   /* 
    position: absolute;
    width: calc(200px + 400 * ((100vw - 320px) / 680));
    height: calc(200px + 800 * ((100vw - 320px) / 680));
    z-index: 110;
    left: calc(150px + 200 * ((100vw - 320px) / 680));;
    top: calc(150px + 200 * ((100vw - 320px) / 680));;
    right: 0;
    bottom: 0;
    overflow-x: hidden; 
    */
    flex: 2;
    line-height: 1.5em;
    background-color: #4e4b4b;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

p {
    margin: 20px;
}

.noshow {
    display: none;
}

