button {
    background: transparent;
    border: none;
    min-width: 40px;
    min-height: 40px;
    height: calc(40px + 50 * ((100vw - 320px) / 680));
    width: calc(40px + 50 * ((100vw - 320px) / 680));
    transition-duration: 0.35s;
    padding: 1px 1px 1px 1px;
}

img.contact-icon {
    filter: invert(12%) sepia(8%) saturate(4087%) hue-rotate(278deg) brightness(98%) contrast(85%);
    height: calc(40px + 50 * ((100vw - 320px) / 680));
    width: calc(40px + 50 * ((100vw - 320px) / 680));
}

img.project-icon {
    filter: invert(85%) sepia(8%) saturate(73%) hue-rotate(278deg) brightness(101%) contrast(80%);
}

@media all and (min-width: 800px) {
    button {
        height: calc(25px + 50 * ((100vw - 320px) / 680));
        width: calc(25px + 50 * ((100vw - 320px) / 680));
    }

    img {
        height: calc(20px + 40 * ((100vw - 320px) / 680));
        width: calc(20px + 40 * ((100vw - 320px) / 680));
    }
}
