.App {
  text-align: center;
  padding-bottom: 20px;
  cursor: url('./img/cursor.png'), auto;
  color: #0D070A;
}

.hire-me:link, .hire-me:visited, .hire-me:hover, .hire-me:active {
  color: #183a37; 
}
a:hover, a:active {
  font-style: italic;
}

.title-link:link, .title-link:visited, .title-link:hover, .title-link:active {
  text-decoration: none;
}

header {
  z-index: 1;
}

.header__title-container {
  display: flex;
  flex-direction: row-reverse;
  background-color: #ACA5A9;
  top: 0;
  width: 100%;
  min-height: calc(100px + 25 * ((100vw - 320px) / 680));
  max-height: calc(200px + 25 * ((100vw - 320px) / 680));
  justify-content: center;
  align-items: center;
  padding-top: 22px;
  transition: all 1s;
  z-index: inherit;
}

.header__title {
  font-family: 'Selznick Normal NF', 'Poiret One', sans-serif;
  color: #432534;
  font-weight: 500;
  letter-spacing: 0.33em;
  font-size: calc(38px + 80 * ((100vw - 320px) / 680));
  z-index: inherit;
}

h1 > span {
  font-size: 1px;
}

.sticky {
  align-items: center;
  position: fixed;
  min-height: calc(50px + 25 * ((100vw - 320px) / 680));
  max-height: calc(85px + 25 * ((100vw - 320px) / 680));
  background-color: #ACA5A9;
  top: 0;
  width: 100%;
  margin-top:0;
  padding-top: 4px;
  padding-bottom: 0;
}



.menu-button > img {
  width: calc(25px + 15 * ((100vw - 320px) / 680));
  height: calc(25px + 15 * ((100vw - 320px) / 680));
  margin: 2px;
}

img.desktop-menu-icon {
  padding-bottom: 15px;
}
img.mobile-menu-icon {
  filter: invert(85%) sepia(8%) saturate(73%) hue-rotate(278deg) brightness(101%) contrast(80%);
}

.Menu__mobile {
  background-color: #432534;
  border-radius: 5%;
  position: fixed;
  top: 87%;
  right: 5%;
  z-index: 2;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;  
  padding: 5px;
}

main {
  font-family: 'Montserrat', 'Lato', Tahoma, Verdana, sans-serif;
  font-weight: 700;
  padding-top: 10px;
  background-color: #cfcbcd;
  z-index: auto;
  cursor: url('./img/cursor.png'), auto;
}

.Bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5% 3%;
}
 

.Bio__text {
  line-height: 1.2em;
}

img.profPic {
  filter: none;
  width: calc(310px + 400 * ((100vw - 320px) / 680));
  height: calc(200px + 400 * ((100vw - 320px) / 680));
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  z-index: 0;
}

.Projects {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  background-color: #130900;
}

.Projects__title {
  letter-spacing: 2px;
  z-index: 0;
  font-size: calc(38px + 40 * ((100vw - 320px) / 680));
  letter-spacing: 10px;
  margin: 30px 0 0 0;
  padding: 10px;
  width: 100%;
  color: #cfcbcd;
}


.About > h3 {
  font-size: calc(28px + 50 * ((100vw - 320px) / 680));
  letter-spacing: 10px;
  margin: 20px 0 0 0;
  color: #432534;
}

footer {
  color: white;
  display: block;
  padding: 5%;
}

@media all and (min-width: 600px) {
  .header__title {
    font-weight: 500;
    letter-spacing: 0.33em;
    font-size: 80px;
    padding-bottom: 15px;
  }

  .header__title-container {
    height: calc(90px + 50 * ((100vw - 320px) / 680));
  }

  .Bio {
    flex-direction: row;
    margin: 5%;
  }
   
  h2 {
    font-size: large;
    padding-left: 2%;
  }
  .hireMe:link, .hireMe:visited, .hireMe:hover, .hireMe:active {
    color: #9b1915;
  }
  
  .Bio__text {
    line-height: 2.5em;
  }
  
  img.profPic {
    filter: none;
    width: calc(300px + 150 * ((100vw - 320px) / 680));
    height: calc(200px + 150 * ((100vw - 320px) / 680));
  }

  .Projects {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding: 0 5%;
  }
  .Project__container:nth-child(2n) {
    align-self: flex-start;
  }
}