.App {
  text-align: center;
  padding-bottom: 20px;
  cursor: url('./img/cursor.png'), auto;
  color: #0D070A;
}

a:link, a:visited, a:hover, a:active {
  color: #183a37; 
}
a:hover, a:active {
  font-style: italic;
}


header {
  z-index: 1;
}

.header__title-container {
  display: flex;
  flex-direction: row-reverse;
  background-color: #ACA5A9;
  top: 0;
  width: 100%;
  min-height: calc(100px + 25 * ((100vw - 320px) / 680));
  max-height: calc(200px + 25 * ((100vw - 320px) / 680));
  justify-content: center;
  align-items: center;
  padding-top: 22px;
  transition: all 1s;
  z-index: inherit;
}



.header__title {
  font-family: 'Selznick Normal NF', 'Poiret One', sans-serif;
  color: #432534;
  font-weight: 500;
  letter-spacing: 0.33em;
  font-size: calc(38px + 15 * ((100vw - 320px) / 680));
  z-index: inherit;
}

h1 > span {
  font-size: 1px;
}

.sticky {
  align-items: center;
  position: fixed;
  min-height: calc(50px + 25 * ((100vw - 320px) / 680));
  max-height: calc(85px + 25 * ((100vw - 320px) / 680));
  background-color: #ACA5A9;
  top: 0;
  width: 100%;
  margin-top:0;
  padding-top: 4px;
  padding-bottom: 0;
  transition: font-size 2s;
}

.sticky > h1, a {
  padding-bottom: 15px;
}

.sticky-text {
  color: #432534;
  text-shadow: none;
}

.invisible, .invisible > img {
  visibility: hidden;
}


.menu-button > img {
  filter: invert(67%) sepia(32%) saturate(317%) hue-rotate(115deg) brightness(86%) contrast(86%);
  width: calc(25px + 15 * ((100vw - 320px) / 680));
  height: calc(25px + 15 * ((100vw - 320px) / 680));
  margin: 2px;
}

.desktop-menu-icon {
  padding-bottom: 15px;
}

.Menu__mobile {
  background-color: #9b1915;
  border-radius: 5%;
  position: fixed;
  top: 90%;
  right: 10%;
  z-index: 2;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;  
  padding: 5px;
}

.mobile-menu-icon {
  padding: 0;
}
.Navbar__mobile {
  padding-top: 10px;
}

main {
  font-family: 'Montserrat', 'Lato', Tahoma, Verdana, sans-serif;
  font-weight: 700;
  padding-top: 10px;
  background-color: #cfcbcd;
  z-index: auto;
  cursor: url('./img/cursor.png'), auto;
}

.Bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5% 3%;
}
 

.Bio__text {
  line-height: 1.2em;
}

img.profPic {
  filter: none;
  width: calc(310px + 400 * ((100vw - 320px) / 680));
  height: calc(200px + 400 * ((100vw - 320px) / 680));
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  z-index: 0;
}

img.smaller {
  transform: scale(0.8);
  transition: all 1s;
}

.Projects {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  background-color: #130900;
}

.Projects__title {
  letter-spacing: 2px;
  /* position: fixed; */
  z-index: 0;
}


.About > h3 {
  background: #04151f;
  font-size: 38px;
  letter-spacing: 15px;
  margin: 0;
  color: #c44900;
}

footer {
  color: white;
  display: block;
  padding: 5%;
}

@media all and (min-width: 600px) {
  .header__title {
    font-weight: 500;
    letter-spacing: 0.33em;
    font-size: 80px;
  }
  .Bio {
    flex-direction: row;
    margin: 5%;
  }
   
  h2 {
    font-size: large;
    padding-left: 2%;
  }
  .hireMe:link, .hireMe:visited, .hireMe:hover, .hireMe:active {
    color: #9b1915;
  }
  
  .Bio__text {
    line-height: 2.5em;
  }
  
  img.profPic {
    filter: none;
    width: calc(300px + 150 * ((100vw - 320px) / 680));
    height: calc(200px + 150 * ((100vw - 320px) / 680));
  }

  .Projects {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding: 0 5%;
  }
  .Project__container:nth-child(2n) {
    align-self: flex-start;
  }
}